.navbar {
  // padding: 1em;
  background-color: $blackBackground;
  position: sticky;
  top: 0;
  z-index: 99;
  .container {
    position: relative;

    .items {
      position: relative;
      display: grid;
      grid-template-columns: 15% 70% 15%;
      align-items: center;
      .icon {
        padding: 0 1em;
        img {
          width: 150px;
          margin-left: 1em;
        }
      }
      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
      }
      // -
      .navBtn {
        display: none;
        color: $whiteColor;
      }
      // -
      .loginBtn {
        // display: none !important;
      }
      // -
      .cartBtns {
        display: none !important;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 1em;
        span {
          color: $whiteColor;
        }
      }
      // -
      a {
        font-size: calc($f-medium - 5px);
        color: $whiteColor;
        opacity: 0.7;
        padding: 2em 1em;
        &:hover {
          opacity: 1;
        }
      }
    }

    // ---floatingContainer---
    .floatingContainer {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100dvh;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.floatingContainerActive {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      .content {
        background-color: $whiteColor;
        width: min(1200px, 95%);
        margin: auto;
        padding: 2em;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 1em;
        // -
        .list {
          ul {
            display: flex;
            flex-direction: column;
            gap: 1em;
            font-size: $f-medium;
            text-transform: capitalize;
            letter-spacing: 2px;
            li {
              display: flex;
              justify-content: space-between;
              padding: 0 2em 0 1em;
            }
          }
        }
        // -
        .details {
          h3 {
            font-size: $f-medium;
            color: $brickRedColor;
            margin-bottom: 10px;
          }
          .pera {
            margin-bottom: 10px;
          }
          a {
            color: $skyBlueColor;
            font-weight: 700;
          }
        }
        // -
        .cards {
          width: 100%;
          height: auto;
          max-height: 400px;
          padding-top: 5px;
          overflow: auto;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
          gap: 10px;
          .card {
            width: 100%;
            img {
              width: 100%;
              border-radius: 20px;
            }
            .title {
              font-size: $f-normal;
              text-transform: capitalize;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
// -----drawerContent-----

.drawerContent {
  padding: 1em;
  padding-top: 5em;
  min-width: min(100vw, 700px);

  .heading {
    font-size: 3em;
    padding: 0 1em 0 0.5em;
    font-weight: 400;
    font-family: $playfairDisplayFamily;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (width < $lDevice) {
  .navbar {
    font-size: 14px;
    .items {
    }
  }
  .drawerContent {
    font-size: 14px;
  }
}

@media (width < $mDevice) {
  .navbar {
    font-size: 14px;
    .container {
      .items {
        grid-template-columns: 1fr 50px 150px;
        .links {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: $blackBackground;
          z-index: 10;
          flex-direction: column;
          // -for  hide-
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: 0.3s;

          &.navActive {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
        // -
        .navBtn {
          display: flex;
          justify-content: end;
          color: $whiteColor;
        }
        // -
        .loginBtn {
          display: flex;
          justify-content: end;
          padding: 1em;
        }
      }
    }
  }
}
