.artistCard {
  width: 100%;
  overflow: hidden;
  @media (max-width: $sDevice) {
    font-size: 12px;
  }
  .img {
    width: 100%;
    aspect-ratio: 16/14;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 10px 5px;
    :nth-child(even) {
      text-align: right;
    }
    .name {
      font-size: $f-medium;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      font-size: $f-medium;
      color: $greenColor;
      font-weight: 600;
    }
    .professon {
      display: flex;
      gap: 5px;
      font-size: $f-normal;
    }
    .subPrice {
      text-decoration: line-through;
      color: gray;
    }
    .location {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: $f-normal;
      grid-column: 1/-1;
    }
  }
}
