//--solid--
$blackColor: #414141;
$whiteColor: #ffffff;
$brickRedColor: #ba324f;
$skyBlueColor: #4980c1;
$greenColor: #348641;
$redColor: #f82222;
$grayColor: #6b6b6b;
// --light--
// --gradient--
$blurGradientColor: linear-gradient(90deg, #47007e 0%, #0064c0 100%);
// --background--
$lightWhiteBackground: #fafafa;
$whiteBackground: #f6f6f6;
$pureWhiteBackground: #ffffff;
$blackBackground: #000000;
$lightBlackBackground: #1d1d1d;
$brickRedBackground: #c33c54;
$yellowBackground: #f6c25b;
$darkYellowBackground: #d3a327;
$greenBackground: #378c51;
$redBackground: #f82222;
$lightBlueBackground: #f9fcff;
