.containerFluid {
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.containerBig {
  width: 100%;
  max-width: 1720px;
  margin: auto;
}

.containerExtraBig {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
